<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>음식 수정</title>
</head>
<body>
<h1>음식 수정</h1>
{{#food}}
<form action="/view/food/edit/{{id}}" method="post">
    <input type="hidden" name="id" value="{{id}}">
    이름: <input type="text" name="name" value="{{name}}"><br>
    매운맛: <input type="number" name="spicyLevel" value="{{spicyLevel}}"><br>
    단맛: <input type="number" name="sweetLevel" value="{{sweetLevel}}"><br>
    신맛: <input type="number" name="sourLevel" value="{{sourLevel}}"><br>
    짠맛: <input type="number" name="saltyLevel" value="{{saltyLevel}}"><br>
    <hr>
    음식 카테고리:
    <select name="foodCategoryId">
        {{#foodCategories}}
        <option value="{{id}}">{{name}}</option>
        {{/foodCategories}}
    </select>
    <br>
    주재료:
    <select name="ingredientId">
        {{#ingredients}}
        <option value="{{id}}">{{name}}</option>
        {{/ingredients}}
    </select>
    <br><br>
    <button type="submit">수정 완료</button>
</form>
{{/food}}
<a href="/view/food">목록으로</a>
</body>
</html>