<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>새 음식 등록</title>
</head>
<body>
<h1>새 음식 등록</h1>
<form action="/view/food/new" method="post">
  이름: <input type="text" name="name"><br>
  매운맛: <input type="number" name="spicyLevel" value="1"><br>
  단맛: <input type="number" name="sweetLevel" value="1"><br>
  신맛: <input type="number" name="sourLevel" value="1"><br>
  짠맛: <input type="number" name="saltyLevel" value="1"><br>
  <hr>
  음식 카테고리:
  <select name="foodCategoryId">
    {{#foodCategories}}
    <option value="{{id}}">{{name}}</option>
    {{/foodCategories}}
  </select>
  <br>
  주재료:
  <select name="ingredientId">
    {{#ingredients}}
    <option value="{{id}}">{{name}}</option>
    {{/ingredients}}
  </select>
  <br><br>
  <button type="submit">등록</button>
</form>
<a href="/view/food">목록으로</a>
</body>
</html>