<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>음식 요리 홈페이지</title>
</head>
<body>
    <h1>음식 요리 홈페이지</h1>
    <ul>
        <li><a href="/signpage">로그인/로그아웃/회원가입</a></li>
        <li><a href="/food_category">음식 분류</a></li>
        <li><a href="/ingredient_category">재료 타입</a></li>
        <li><a href="/ingredient">재료 관리</a></li>
        <li><a href="/food">음식 관리</a></li>
        <li><a href="/foodvuejs.html">vuejs 샘플</a></li>
        <li><a href="/member">회원 관리</a></li>
        <li><a href="/main">사용자 메인 화면</a></li>
        <li><a href="/file_mpa">첨부파일 MPA 방식 테스트</a></li>
    </ul>
</body>
</html>