<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>재료 카테고리 수정</title>
</head>
<body>
<h1>재료 카테고리 수정</h1>
{{#category}}
<form action="/view/ingredient-category/edit/{{id}}" method="post">
    <input type="hidden" name="id" value="{{id}}" />
    <div>
        <label for="name">카테고리 이름:</label>
        <input type="text" id="name" name="name" value="{{name}}" />
    </div>
    <br>
    <button type="submit">수정 완료</button>
</form>
{{/category}}
<br>
<a href="/view/ingredient-category">목록으로 돌아가기</a>
</body>
</html>