.wrap {
    /* 전체 화면의 스타일 */
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.content {
    /* 화면 안의 내용이 있는 곳의 스타일 */
    width: 80%;
    height: 150px;
    margin: 20px auto;
}

#modal_box_add {
    /* 모달 화면 안의 스타일, z-index: 값이 가장 크므로 화면의 상위에 표현된다.*/
    width: 70%;
    height: 850px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: azure;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#modal_box_add button {
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 10px;
    align-self: center;
    cursor: pointer;
}


.modal_bg {
    /* 모달 화면이 나타나면 화면 안의 내용 div id="content" 를 어둡게 만든다.
        z-index 값을 content 보다 크므로 마우스 클릭시 modal_bg 에 클릭이 된다.
     */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
