<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc813.coffee.mybatis.CoffeeMybatis">
    <insert id="insert" parameterType="com.mjc813.coffee.dto.CoffeeDto">
        INSERT INTO coffee_tbl (
        name
        , price
        , source
        , shots
        ) VALUES (
        #{name}
        , #{price}
        , #{source}
        , #{shots}
        )
    </insert>

    <select id="selectAll" resultType="com.mjc813.coffee.dto.CoffeeDto">
        SELECT
            id
             , name
             , price
             , source
             , shots
        FROM coffee_tbl
        ORDER BY id
    </select>

    <select id="selectById" resultType="com.mjc813.coffee.dto.CoffeeDto" parameterType="Long">
        SELECT
            id
             , name
             , price
             , source
             , shots
        FROM coffee_tbl
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.mjc813.coffee.dto.CoffeeDto">
        UPDATE coffee_tbl SET
            name = #{name}
            , price = #{price}
            , source = #{source}
            , shots = #{shots}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM coffee_tbl
        WHERE id = #{id}
    </delete>

    <select id="findWhere" resultType="com.mjc813.coffee.dto.CoffeeDto" parameterType="com.mjc813.coffee.dto.SearchRequestDto">
        SELECT
        id
        , name
        , price
        , source
        , shots
        FROM coffee_tbl
        <if test='search != null and search != ""'>
            WHERE name LIKE CONCAT('%', #{search}, '%')
        </if>
        ORDER BY id
        LIMIT #{row} OFFSET #{offset}
    </select>
</mapper>
