<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{dan}}단 출력</title>
</head>
<body>
<h1>{{dan}}단</h1>
<div>
    {{#result}}
    <div>{{.}}</div>
    {{/result}}
</div>
</body>
</html>
