<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 에러</title>
    {{> ./include/css}}
</head>
<body>
{{> ./include/topmenu}}
<div class="container">
    <div class="row">
        <div class="col-lg-4 card mb-3">
            <h3 class="card-header">403 에러가 발생했습니다.</h3>
            <div class="card-body">
                <h5 class="card-title">권한이 없습니다. 로그인이 필요합니다.</h5>
                <h5 class="card-title"><a href="/signpage">로그인페이지</a></h5>
            </div>
        </div>
    </div>
</div>

<script src="/bootswatch/brite/js/bootstrap.bundle.min.js"></script>
<script src="/bootswatch/brite/js/prism.js" data-manual></script>
<script src="/bootswatch/brite/js/custom.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
</body>
</html>