<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Test</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div><img src="/images/baby-chiken.gif"></img></div>
<label for="username">이름</label><input type="text" id="username" />
<a onclick="javascript:addFile();" id="addFile" style="cursor: pointer;">+</a><br/>
<div id="uploadFiles">
    <div>
        <label for="profilePicture">사용프로파일</label>
        <input type="file" id="profilePicture" class="classProfilePictures"/>
        <br/>
    </div>
</div>
<button onclick="$.restUpload();">Upload Restful</button>
<div id="resultDiv">
    <div id="resultId"></div>
    <div id="resultName"></div>
    <div id="resultImages"></div>
</div>
</body>
<script>
    function addFile() {
        let html = `<div>
                        <label for="profilePicture">사용프로파일</label>
                        <input type="file" id="profilePicture" name="profilePicture" class="classProfilePictures" />
                        <a onclick="removeThis($(this));" style="cursor: pointer;">-</a>
                        <br/>
                    </div>`;
        if ( $("#uploadFiles").children().length < 10 ) {
            $("#uploadFiles").append(html);
        }
    }

    function removeThis(object) {
        object.parent().remove();
    }

    $(document).ready(function() {
    });

    $.restUpload = function() {
        let formData = new FormData();
        formData.append("foodCategoryDto"
            , new Blob([JSON.stringify({"id": 55, "name": "this is name"})]
                , {type: "application/json"}));
        $(".classProfilePictures").each(function(index, fileOne){
            formData.append("fileList", fileOne.files[0]);
        });
        $.ajax({
            url: "/api/v1/rest/file"
            , type: "POST"
            , datatype: "JSON"
            , data: formData
            , contentType: false
            , processData: false
        }).done(function (data, textStatus, jqXHR) {
            console.log("Success:", data.result);
            $.printList(data.result);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("Error:", textStatus, errorThrown);
            alert(`${jqXHR.responseJSON.code} : ${jqXHR.responseJSON.message}`);
        });
    }

    $.printList = function(result) {
        $("#resultId").text(result.foodCategoryDto.id);
        $("#resultName").text(result.foodCategoryDto.name);
        $("#resultImages").empty();
        for ( let i = 0; i < result.files.length; i++ ) {
            let imgTag = `<img src="/images/${result.files[i]}"></img>`;
            $("#resultImages").append(imgTag)
        }
    }
</script>
</html>