<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>새 재료 등록</title>
</head>
<body>
<h1>새 재료 등록</h1>
<form action="/view/ingredient/new" method="post">
  <div>
    <label for="name">재료 이름:</label>
    <input type="text" id="name" name="name" />
  </div>
  <div>
    <label for="category">재료 카테고리:</label>
    <select id="category" name="ingredientCategoryId">
      {{#categories}}
      <option value="{{id}}">{{name}}</option>
      {{/categories}}
    </select>
  </div>
  <br>
  <button type="submit">등록</button>
</form>
<br>
<a href="/view/ingredient">목록으로 돌아가기</a>
</body>
</html>