<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>연락처 등록</title>
</head>
<body>
    <h1>연락처 등록 화면</h1>
    <form id="formInput" name="formInput" method="post" action="./addconfirm">
        <label for="name">이름 : </label>
        <input type="text" id="name" name="name" value="" maxlength="30" />
        <label for="phoneNumber">전화번호 : </label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="" maxlength="30" />
        <label for="zipNumber">우편번호 : </label>
        <input type="text" id="zipNumber" name="zipNumber" value="" maxlength="5" />
        <label for="email">이메일주소 : </label>
        <input type="text" id="Email1" name="email" value="" maxlength="200" />
        <input type="submit" value="확인" />
    </form>
</body>
</html>